:root {
  /* light */
  --color-text: #333;
  --backgruond-color: #e7e7e7;
  --dark-blue: #e7e7e7;
  --aqua: #00ffff;
  --bright-cyan: hsl(192, 70%, 30%);
  --Accent-Color: hsl(50deg 100% 50% / 29%);
  --green: #f2f2f2;
  --seagreen: hsl(146, 50%, 36%);
  /* dark */
  --color-text: #e7e7e7;
  --backgruond-color: #222;
  --dark-blue: #1e1e1e;
  --aqua: #00ffff;
  --bright-cyan: hsl(192, 70%, 51%);
  --Accent-Color: hsl(0deg 0% 100% / 29%);
  --green: #1d1d1d;
  --seagreen: #003015;
  /* desc */
  --grey: #d5d5d5;
  --dark: #3D464D;
  --font-size: 1.5rem;
  --font-size2: 2rem;
  --font-size3: 2.5rem;

  text-rendering: optimizeLegibility;
  /* Primary */
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  --color-sum: hsl(50, 80%, 53%);
  /* Neutral */
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);

  --box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, .2);
}