.skills__card,
.card,
.content__text,
.text__links,
.card__link,
.card__content,
.card__picture,
.content__picture,
.cards__picture,
.cards__article {
  display: flex;
}

.card,
.card__link,
.content__picture,
.cards__picture {
  align-items: center;
}

.skills__card {
  flex-flow: column wrap;
  gap: 50px;
  padding: 10px 0 50px;
}

.card {
  overflow: hidden;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  height: 250px;
  width: 1000px;
  margin: auto;
  gap: 10px;
}

.card__project__content {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.content__text {
  width: 50%;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.text__links {
  flex-flow: row wrap;
  gap: 10px;
}

.text__links__items {
  padding: 0 0 8px 8px;
}

.card__link {
  gap: 2px;
  border-right: 2px solid var(--Lime-Green);
  border-radius: 8px;
  padding: 8px;
  color: var(--color-text);
  box-shadow: 0px 2px 4px 0px rgba(63, 63, 255, 0.212);
}

.link__icon {
  width: 20px;
  height: auto;
}

.card__content {
  flex-flow: row wrap;
  width: 100%;
  overflow: hidden;
}

.content__picture {
  width: 330px;
  height: 100%;
}

.card__title {
  font-weight: 700;
}

.card__picture {
  flex-flow: row wrap;
  gap: 20px;
  width: 100%;
}

.cards__picture {
  width: 50%;
  height: 100%;
  overflow: hidden;
  justify-content: center;
  box-shadow: 0px 4px 6px hsl(0, 0%, 0%, .3);
}

.cards__article {
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding: 0 20px;
  gap: 10px;
}

@media (max-width:1080px) {
  .card {
    width: 100%;
    height: auto;
  }

}

@media (max-width: 780px) {
  .card__project__content {
    width: 100%;
  }

  .content__picture {
    width: 100%;
  }

}

@media (max-width: 700px) {
  .card__content {
    gap: 20px;
  }

  .cards__article,
  .cards__picture,
  .content__text,
  .content__picture {
    width: auto;
  }
}