#root {
  overflow: hidden;
}

strong {
  font-weight: 600;
}

.container__cards {
  display: flex;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}


.article__title {
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 9.5ch;
  animation: typing 2s steps(12), blink .5s infinite step-end alternate;
  animation-delay: 1s;
  overflow: hidden;
}

@keyframes typing {
  from {width: 0;}
}

@keyframes blink {
  50% {border-color: transparent;}
}

.article__subtitle {
  font-weight: 500;
}

.article__paragraph {
    font-weight: 400;
}

.container__header__image {
  width: 150px;
  height: 150px;
  object-fit: contain;
  background-color: #c3c3c336;
  aspect-ratio: 2/3;
  border-radius: 18px;
  box-shadow: 1px 1px 5px #141d1d;
}

.container__skills {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container__proyect {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  overflow: hidden;
}

.picture__image {
  width: 50px;
  height: auto;
}

@media only screen and (max-width: 700px) {
  .container__cards {
    padding-top: 30px;
    flex-direction: column;
    gap: 10px;
  }
  
}