.header {
  width: 100%;
  height: 60px;
  display: flex;
  border-top: 4px solid #00da7e;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  overflow: hidden;
}

.navigation__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.project__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


@media only screen and (max-width: 980px) {
  .header {
    overflow: visible;
    position: relative;
    height: auto;
    align-items: center;
    justify-content: center;
  }

  .header__navigation {
    position: absolute;
    width: 90dvw;
    height: 0px;
    top: 70px;
    left: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--nav-color);
    transition: .3s ease;
    overflow: hidden;
  }

  .header__navigation.header__navigation-active {
    height: 90dvh;
  }
  
  .navigation__menu {
    flex-direction: column;
    gap: 50px;
    background-color: var(--menu-color);
    padding: 60px;
    border-radius: 8px;
    width: 90%;
    height: 90%;
  }

}