.cont__link:hover, .menu__item__link:hover{
  color: var(--aqua);
  border-bottom: 2px solid var(--aqua);
}

.card__link:hover {
  color: var(--dark);
  box-shadow: var(--box-shadow);
}

.picture__image:hover {
  box-shadow: 1px 1px 15px var(--aqua);
}