/* :root {
  --white: #fff;
  --grey: #d5d5d5;
  --black: #000;
  --aqua: #00ffff;
  --dark: #3D464D;
  --font-size: 1.5rem;
  --font-size2: 2rem;
  --font-size3: 2.5rem;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Style Skills */





